html,body {
  font-family:Merriweather,serif;
  font-size:16px;
  line-height:1.7;
  color:#424242;
  background-color:#fff;
  font-weight:300;
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
  font-family:"Open Sans",sans-serif;
  margin-bottom:.5em;
  line-height:1.1;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:-.05em;
}

h1 {
  margin-top:1.2em;
  text-align:left;
  font-size:3em;
  border-bottom:5px solid #424242;
}

h2 {
  margin-top:1.5em;
  font-size:2em;
}

p {
  margin-top:1em;
}

.wrapper {
  width:auto;
  max-width:1200px;
  min-height:100%;
  margin:0 auto;
  padding:0 10px;
}

.clear {
  clear:both;
}

img.left {
  float:left;
  border:1px solid #999;
  margin:10px;
  padding:4px;
}

img.right {
  float:right;
  border:1px solid #999;
  margin:10px;
  padding:4px;
}

.group {
  padding-bottom:10em;
}

.group img {
  border:1px solid #999;
  margin:4px 8px 4px 0;
  padding:4px;
}

.group-item {
  float:left;
  margin:.2em;
}
